<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css"  href="/css/login.css" />
</head>
<body>
<div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form action="#" class="form" id="form1">
            <h2 class="form__title">Sign Up</h2>
            <p id="error-message1"></p>
            <input type="text" id="name1" name="name" placeholder="Name" class="input" />
            <input type="password" id="password11" name="password" placeholder="Password" class="input" />
            <input type="password" id="password12" name="password" placeholder="repeat the password" class="input" />
            <button class="btn">Sign Up</button>
        </form>
    </div>

    <!-- Sign In -->
    <div class="container__form container--signin">
        <form action="#" class="form" id="form2">
            <h2 class="form__title">Sign In</h2>
            <p id="error-message2"></p>
            <input type="text" id="name2" name="name" placeholder="Name" class="input" />
            <input type="password" id="password2" name="password" placeholder="Password" class="input" />
            <button class="btn">Sign In</button>
        </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>
</body>
</html>
